{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}


{% block stylesheets %}
    <style>
    a {
        text-decoration: none;
    }
    .login-page {
        width: 100%;
        display: inline-block;
        display: flex;
        align-items: center;
    }
    .form-right i {
        font-size: 100px;
    }
    </style>
{% endblock %}



{% block body %}


	<div class="login-page bg-light">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<h3 class="mb-3">Register Now</h3>
					<div class="bg-white shadow rounded">
						<div class="row">
							<div class="col-md-7 pe-0">
								<div class="form-left h-100 py-5 px-5">
                                        {{ form_start(registrationForm, {'attr': {'novalidate': 'novalidate', "class":"row g-4"}}) }}
										
                                        
                                        <div class="col-12">
											<label>Full Name<span class="text-danger">*</span>
											</label>
											<div class="input-group">
												<div class="input-group-text">
													<i class="fas fa-user"></i>
												</div>
                                                {{ form_widget(registrationForm.fullname, {'attr': {'placeholder': "Enter Your Fullname"}}) }}
                                                {{ form_errors(registrationForm.fullname) }}
                                            </div>
										</div>

                                        <div class="col-12">
											<label>Email<span class="text-danger">*</span>
											</label>
											<div class="input-group">
												<div class="input-group-text">
													<i class="fas fa-envelope"></i>
												</div>
                                                {{ form_widget(registrationForm.email, {'attr': {'placeholder': "Enter Your Email"}}) }}
                                                {{ form_errors(registrationForm.email) }}

                                            </div>
										</div>


										<div class="col-12">
											<label>Password<span class="text-danger">*</span>
											</label>
											<div class="input-group">
												<div class="input-group-text">
													<i class="fas fa-lock"></i>
												</div>
                                                	{{ form_widget(registrationForm.plainPassword, {label: 'Password','attr': {'placeholder': "Enter Your Password"} }) }}
                                                {{ form_errors(registrationForm.plainPassword) }}

                                            </div>
										</div>

										<div class="col-sm-6">
											<div class="form-check">
												{{ form_widget(registrationForm.agreeTerms) }}
                                                {{ form_errors(registrationForm.agreeTerms) }}

											</div>
										</div>

										<div class="col-sm-6">
                                            <a class="float-end text-primary" href="{{ path('app_login') }}">Already have an account?</a>
										</div>

										<div class="col-12">
											<button type="submit" class="btn btn-primary px-4 float-end mt-4">login</button>
										</div>
									{{ form_end(registrationForm) }}
								</div>
							</div>
							<div class="col-md-5 ps-0 d-none d-md-block">
								<div class="form-right h-100 bg-primary text-white text-center pt-5">
									<i class="fas fa-sign-in mt-5 pt-5"></i>
									<h2 class="fs-1">Welcome Back!!!</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
